<h2>Por Capital</h2>
<hr>

<div class="row" class="animate__animated animate__backInDown">
    <div class="col">
        <app-pais-input
            placeholder ="Buscar Capital..." 
            (onEnter)="buscar($event)" 
            (onDebounce)="sugerencias($event)"
        ></app-pais-input>
    </div>
</div>

<hr>

<div *ngIf="hayError; else noHayError" class="alert alert-danger">
    No se encontro nada con el término {{termino}}
</div>

<ng-template #noHayError>
    <div *ngIf="paises.length!=0" class="row">
        <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>
</ng-template>